<div class="root-container">
    <h1>
        Welcome to {{ title }}!
    </h1>

    <div class="app-tab-wrapper">
        <app-tab>
            <ps-slot [title]="title">
                <div>This is the title of the application</div>
            </ps-slot>

            <ps-slot title="Animation" active="0">
                <div>This is the animation</div>
            </ps-slot>
        </app-tab>
    </div>

    <div class="app-tab-wrapper">
        <app-tab active="1">
            <ps-slot title="TabA">
                <div>Content of tabA goes into this section</div>
            </ps-slot>

            <ps-slot title="TabB" active>
                <div>Content of tabB goes into this section</div>
            </ps-slot>
        </app-tab>
    </div>

</div>